1)
"*" is an expression(multiplication operator)
"hello" is an value(string type)
-87.8 is a value(float type)
"-" is an expression(substraction operator)
"/" is a expression (division operator)
"+" is an expression (addition operator)
"6" is a value(int type)

2)
string is a type of  value or a data which is written in between the "" or ''
variable is a name given to a memory location where the value is stored

3)
the three different data types are:
    1) single valued datatype
    2) multi value datatype
    3) boolean data type

4)
expressions are made up of values and operators.which performs mathematical operations to give certain results

5)expression is a something which consist of values and operators which performs specic mathematical operations,whereas statements are the part of code which help the interpreter to execute.

6)the value of bacon will be 22

7)"spam"+"spamspam" will be "spamspamspam" is string concatenation
"spam"*3 will be "spamspamspam" is string copy

8)eggs is a valid variable name because according to rules of identifier variable name can start with alphabets,whereaas 100 is not a valid variable name because according to rules of identifier variable name should not start with numbers,spl characters.

9)To get the integer value we use 'int()'
  To get the float value we use 'float()'
  to get the sring value we use 'str()'

10) the expression cause a type error because the string concatenation can be done with same string data type but not with other data type,this can be fixed by converting the int datatype(99) to string datatype by using str(),or writing within the '' or "".